{% extends "base.html" %}
{% block title %}Activity Log - Fitness App{% endblock %}

{% block content %}
<h2>Activity Log</h2>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Workout</th>
            <th>Duration</th>
            <th>Calories</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Feb 4</td>
            <td>Cardio Blast</td>
            <td>30 min</td>
            <td>300</td>
        </tr>
        <tr>
            <td>Feb 3</td>
            <td>Yoga Flow</td>
            <td>20 min</td>
            <td>150</td>
        </tr>
    </tbody>
</table>
{% endblock %}
